---
layout: default
title: Andrew Kaiser - Home
---

<script type="text/javascript">
	{% include js/slider.js %}
</script>

<div id="cover-photo">
	<h2 id="header-name">Andrew Kaiser</h2>
</div>


<div id="post-container">
	<div id="circle">
		<div id="face"><img src="/img/me/734163_710085245668602_1982396748_n_small.jpg"></div>
	</div>

<div id="intro-container">
	<div id="header-description" class="description">
		<!--This is my blog about app development, code inquiries, and-->
		<!--Check out my <a href="">Photos</a>and <a href="">Drawings </a> too!-->
		I write code that makes my life and others easier. This is where I talk about my interests, thoughts, and experiences
		<!-- <a href="http://flickr.com/photos/andykais">photos</a> -->
		<!-- to see better, and <a href="http://andykais.tumblr.com/">draw</a> to keep the brain awake -->
	</div>
    <div id="icon-container" class="u-full-width">
        <div class="line"></div>
        <div id="lower-description" class="description">
            I also do other stuff! Check it out or don't
        </div>
        <div id="icongrid">
            <div class="follow">
                <a class="custom-links" href="https://github.com/andykais"><i class="fa fa-github-square"></i></a>
            </div>
            <div class="follow">
                <a class="custom-links" href="https://www.linkedin.com/in/kaisea"><i class="fa fa-linkedin-square"></i></a>
            </div>
            <div class="follow">
                <a class="custom-links" href="https://www.flickr.com/photos/andykais/"><i class="fa fa-flickr"></i></a>
            </div>
            <div class="follow">
                <a class="custom-links" href="http://andykais.tumblr.com/"><i class="fa fa-tumblr-square"></i></a>
            </div>
        </div>
    </div>
</div>

	<ul id="post-list">
		{% for post in site.posts %}
		  <li>
			<div class="one-post">
				<h2>
					<a class="post-title" href="{{ post.url }}">{{ post.title }}</a>
				</h2>
				<div class="post-excerpt">{{ post.excerpt }}</div>
				<div class="post-date"> {{ post.date | date: '%B %d, %Y' }} </div>
			</div>

		  </li>
		{% endfor %}
	</ul>
</div>
