---
layout: post
---

{% include css/syntax.css %}
{% include css/highlight_box.css %}

html, body {
	margin: 0px;
	padding: 0px;
	font-family: "Merriweather", serif;
    font-size: 1em;
}
#post-container {
	position:relative;
	top: -87.5px;
}
#cover-photo {
	width: 100%;
	background: no-repeat center center;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	-webkit-transition : background-image -150ms linear;
	-moz-transition : background-image -150ms linear;
	-ms-transition : background-image -150ms linear;
	-o-transition : background-image -150ms linear;
	transition : background-image -150ms linear;
	/*background-position: 0% 70%;*/

	/*line-height: 700px;*/
	text-align: center;
	overflow: auto;
}
#intro-container {
	/*position: absolute;*/
	/*vertical-align: center;*/
	/*margin:auto;*/
	/*top:35%;*/
}
h2 {
    font-size: 2.6rem;
}
a {
	text-decoration: none;
	font-weight: bold;
}

#header-name {
	position: relative;
	margin: auto;
	top: 310px;
	font-family: Stalemate, serif;
    font-weight: bold;
	font-size: 7.9rem;
	/*font-size: 1.5rem;*/
	/*color: #333333;*/
	/*margin-bottom: 0;*/
	text-align: center;
	color: white;
}
.description {
	padding-top: 10px;
	font-weight: normal;
	width: 90%;
	padding-left: 5%;
	font-size: 1rem;
	text-align: center;
	color: rgba(0,0,0,0.6);
	padding-bottom: 10px;
}
#header-description {
    padding-top: 20px;
}
#lower-description {
    font-size: .9rem;
}
.custom-links {
    color: #4A4A4A;
}
.custom-links:hover {
    color: #828d94;

}
.custom-links:visited{
    text-decoration: none;

}
.line {
    width: 20%;
    margin-left:40%;
    border-top:#EBF2F6 1px solid;
}
#icon-container {
    position: relative;
    text-align:center;
}
#icongrid {
    position: relative;
    display:inline-block;
    /*max-width: 100px;*/
    /*border:solid 1px;*/
    text-align:center;
    font-size: 1.9rem;
}
.follow {
    padding-left: 5px;
    display:inline;
}

#circle {
	position: relative;
	width: 175px;
	height: 175px;
	left: calc(50% - 87.5px);
    /*left: 50%;*/
	background: #ffffff;
	border-radius: 150px;
	border: 1px solid #e0e0e0;
}
#face {
	position: relative;
	width: 160px;
	left: calc(50% - 80px);
	top: calc(50% - 80px);
}
#face img {
	border-radius: 160px;
	width: 160px;
}
#post-list {
	position: relative;
	list-style-type: none;
	width: 90%;
	max-width: 700px;
	margin: 4rem auto;
}
.one-post {
	border-bottom: #EBF2F6 1px solid;
}
.post-title {
	font-family: "Helvetica Neue",Helvetica,sans-serif!important;
	color: #4A4A4A;
	transition: color .3s ease;
    transition-property: color;
    transition-duration: 0.3s;
    transition-timing-function: ease;
    transition-delay: initial;
}
.post-title:hover {
	color: black;
}
.post-excerpt {
	color: rgba(0,0,0,0.6);
	padding-bottom: 50px;
}
.post-date {
	position: absolute;
	right:0;
	bottom: 0;
	padding-bottom: 20px;
	color: #9EABB3;
}
