---
layout: post
---

{% include css/syntax.css %}
{% include css/highlight_box.css %}

html, body {
	margin: 0px;
	padding: 0px;
	font-family: "Helvetica Neue",Helvetica,sans-serif!important;
}

#cover-photo {
	width: 100%;
	background: no-repeat center center;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	-webkit-transition : background-image -150ms linear;
	-moz-transition : background-image -150ms linear;
	-ms-transition : background-image -150ms linear;
	-o-transition : background-image -150ms linear;
	transition : background-image -150ms linear;

}
#circle {
	position: relative;
	width: 175px;
	height: 175px;
	left: calc(50% - 75px);
	top: -87.5px;
	background: #ffffff;
	border-radius: 150px;
	border: 1px solid #e0e0e0;
}
#face {
	position: relative;
	width: 160px;
	left: calc(50% - 80px);
	top: calc(50% - 80px);
}
#face img {
	border-radius: 160px;
	width: 160px;
}
