---
layout: post
---

{% include css/syntax.css %}
{% include css/highlight_box.css %}

html, body {
    margin: 0px;
    padding: 0px;
}

#header-photo {
	position:relative;
	white-space: nowrap;


	background-repeat: no-repeat;
    background-position : center;
    background-size : cover;
	/*background-image: url('/img/landscape/DSC_0183.JPG');*/
	background-image: url('/img/landscape/DSC_0183.JPG'), url('/img/landscape/DSC_0199.JPG'), url('/img/landscape/DSC_1021_bright.jpg'), url('/img/landscape/DSC_1570.JPG'), url('/img/landscape/DSC_1576.JPG'), url('/img/landscape/DSC_1731.JPG'), url('/img/landscape/DSC_1841.JPG'), url('/img/landscape/DSC_2341.JPG'), url('/img/landscape/DSC_3613.JPG'), url('/img/landscape/DSC_3616.JPG');
    -webkit-transition : background-image -150ms linear;
    -moz-transition : background-image -150ms linear;
    -ms-transition : background-image -150ms linear;
    -o-transition : background-image -150ms linear;
    transition : background-image -150ms linear;

}
.wide-landscape {

}
#circle {
	position: relative;
	width: 175px;
	height: 175px;
	left: calc(50% - 75px);
	top: -87.5px;
	background: #ffffff;
	border-radius: 150px;
	border: 1px solid #e0e0e0;
}
#face {
	position: relative;
	width: 160px;
	left: calc(50% - 80px);
	top: calc(50% - 80px);
}
#face img {
	border-radius: 160px;
	width: 160px;
}