
.post {
}
#post-list {
    position: relative;
    list-style-type: none;
    width: 90%;
    max-width: 700px;
    margin: 4rem auto;
}
.one-post {
    border-bottom: #EBF2F6 1px solid;
}
.post-title {
    /*font-family:sans-serif;*/
    /*font-family: "Helvetica Neue",Helvetica,sans-serif!important;*/
    margin-bottom: 10px;
    color: #4A4A4A;
    transition: color .3s ease;
    transition-property: color;
    transition-duration: 0.3s;
    transition-timing-function: ease;
    transition-delay: initial;
}
.post-title:hover {
    color: black;
}
.post-excerpt {
    color: rgba(0,0,0,0.6);
}
.post-date {
    /*position: absolute;*/
    /*right:0;*/
    /*bottom: 0;*/
    color: #9EABB3;
}
.post-header {
    padding-top: 100px;
    padding-bottom: 50px;
}
